---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Min personlige nettside">
	<h1>HEI</h1>
</Layout>

<style>
	h1 {
		color: white;
	}
</style>
