---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Min personlige nettside">
	<div class="flex items-center justify-center h-[80vh]">
		<h1
			class="text-[#FB4D3D] text-5xl h-fit ">
			MATS KVANVIK</h1>
	</div>


</Layout>

<style>

</style>
